<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta', { title }) %>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div class="container mt-4">
      <%- include('partials/alert') %>
      <p class="lead text-center">
        Your files and folders will be shown here...
      </p>
    </div>
  </body>
</html>
